<nav class="pagination">
  <div class="pagination__summary">
    1 – 10 <span class="pagination__total">(205)</span>
  </div>

  <ul class="pagination__controls">
    <li class="pagination__arrow pagination__arrow--start">
      <button aria-label="Previous page">
        <img src="assets/icons/arrow-left.svg" alt="left" />
        <img src="assets/icons/arrow-left.svg" alt="left" />
      </button>
    </li>

    <li class="pagination__arrow pagination__arrow--prev">
      <button aria-label="Previous page">
        <img src="assets/icons/arrow-left.svg" alt="left" />
      </button>
    </li>

    <li class="pagination__page pagination__page--active">
      <button>1</button>
    </li>
    <li class="pagination__page"><button>2</button></li>
    <li class="pagination__page"><button>3</button></li>
    <li class="pagination__page"><button>4</button></li>
    <li class="pagination__page"><button>5</button></li>

    <li class="pagination__arrow pagination__arrow--end">
      <button aria-label="Previous page">
        <img src="assets/icons/arrow-right.svg" alt="right" />
        <img src="assets/icons/arrow-right.svg" alt="right" />
      </button>
    </li>

    <li class="pagination__arrow pagination__arrow--next">
      <button aria-label="Previous page">
        <img src="assets/icons/arrow-right.svg" alt="right" />
      </button>
    </li>
  </ul>

  <div class="pagination__count">
    <span class="pagination__total">15</span>
    <img src="assets/icons/arrow-bottom.svg" alt="arrow-bottom" />
  </div>
</nav>
